html,
body {
    height: 100%;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

#root {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

h1 {
    padding: $main-spacing/2 0;
    margin: 0px !important;
    width: 100%;

    text-align: center;

    color: #fff;
    @include stroke(1, #13998d);
    background-color: #67c9c3;

    .line-wrap {
        overflow: hidden;
    }

    @media screen and (min-width: map-get($breakpoints, sm)) {
        padding: $main-spacing 0;
    }
}

h2 {
    padding: 0;
    margin: 0;
}
h4 {
    padding: 0;
    margin: 0;
}
h6 {
    padding: 0;
    margin: 0;
}
h5 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.svg-wrapper {
    width: 50vh;
}

ul {
    margin: 0;
    padding: 0;
}
