.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(229, 234, 243);
}

.logo {
    flex-basis: 120px;
    padding: 20px 0;
    padding-left: 30px;
    &__svg {
        width: 100%;
        display: block;
        margin: auto;
    }
    @media screen and (min-width: map-get($breakpoints, xs)) {
        flex-basis: 180px;
    }
}

.navbar {
    display: none;
    flex-grow: 1;
    justify-content: flex-end;
    @media screen and (min-width: map-get($breakpoints, lg)) {
        display: flex;
    }

    &__button {
        margin: 0 5px;
    }

    .activeLink {
        background-color: #ceeeec;
        &:hover {
            background-color: #ceeeec;
        }
    }
}

.navbar-burger {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30vw;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    > div {
        flex: 1;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
