.grid {
    display: grid;
    grid-template-columns: minmax(120px, 180px) minmax(240px, 1fr) auto;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100vh;

    height: 100%;
    width: 100%;
}

.logo {
    height: 80px;
    margin-left: 20px;
    align-items: center;

    display: flex;

    border-bottom: 1px solid rgb(229, 234, 243);
}

.logo__svg {
    margin: 0 auto;
    display: block;
}

.navbar {
    border-bottom: 1px solid rgb(229, 234, 243);
    display: flex;
    a {
        margin: 0 15px;
    }

    .activeLink {
        background-color: #ceeeec;
        &:hover {
            background-color: #ceeeec;
        }
    }
}

.menu {
    border-bottom: 1px solid rgb(229, 234, 243);

    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-left: 15px;
    align-items: center;
}

.content {
    grid-column-start: 2;
    margin-top: 100px;
    text-align: center;
}
